<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style='box-shadow: 0px 5px 5px rgba(0, 128, 0, 0.5);'>
    <div class="container-fluid">
        {% load static %}
        <img style="width: 90px; height: 30px;" src="{% static 'images/logo.png' %}">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if admin == 1 %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_profile' pk=user.id %}">User Profile</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usertransactions' pk=user.id %}">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_profile' pk=user.id %}">User Profile</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout_view' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>


{% comment %}
#admin pages:
 {% if request.user.groups.filter(name='admin').exists %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Home</a>
</li>
{% else %} {% endcomment %}