{% extends 'accounts/main.html' %}

{% block content %}
   <h2 style="color: #60EFFF;">Your Transactions, {{ user.first_name }}</h2>


    <!-- <h3>Balance: ${{ balance }}</h3> -->
   
   {% if user_transactions %}
        <table class="table table-hover table-dark table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Category</th>
                <!-- <th>Status</th> -->
                <th>Payment method</th>
                <th>Reference number</th>
                <th>Attachments</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in user_transactions %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.category }}</td>
                <!-- <td>{{ transaction.status }}</td> -->
                <td>{{ transaction.payment_method }}</td>
                <td>{{ transaction.reference_number }}</td>
                <td>{{ transaction.attachments }}</td>
                <td>
                    {% if transaction.date > date_limit %}
                        <a href="{% url 'edit_transaction' transaction.id %}">Edit</a>
                        <a href="{% url 'delete_transaction' transaction.id %}">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2 colspan="8">You have no transactions.</h2>
    {% endif %}

    <a href="{% url 'make_transaction' %}">Add Transaction</a>
    <a href="{% url 'dashboard' %}">Back to Dashboard</a>



{%  endblock %}
